In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
# Inside the parentheses, we added the variable something. 
# When this function gets called, it will print whatever we have added inside the parentheses of the function. 
# This doesn't have to be the word "something"; it can be whatever you want it to be.

def say_something(something):
    print(something)

In [4]:
# Call the function.
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [6]:
# Define a function that calculates the percentage of students that passed both 
# math and reading and returns the passing percentage when the function is called.

def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [8]:
passing_math_count = 29370

total_student_count = 39170

In [9]:
# Call the function.

passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [10]:
#### PANDAS map() FUNCTION:

In [11]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [12]:
# Import pandas.
import pandas as pd

# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [15]:
#### PYTHON format() FUNCTION:

In [21]:
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))
    
## In this format, the grade variable is referenced in front of the colon, so there is no need to add the grade variable.

## After the colon, the .0f means to format the grade with no decimal place, where the "period" is for the decimal place, the "0" is for "no" decimal place, and the "f" means floating-point decimal. 
## If we wanted to format to one decimal place, we would use 1 instead of 0, and 2 for two decimal places, and so on.

92
85
87
98

In [22]:
#### CHAINING the map() and format() Functions

In [23]:
# Convert the numerical grades to a Series.

my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [24]:
# Format the grades to the nearest whole number percent.

my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object